* {
    box-sizing: border-box;
}

a, button {
    transition: all .3s ease-in-out 
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
    background-color: #5f5d5d;
}

.container {
    max-width: 80%;
    padding: 10px 15px;
    margin: 0 auto;
    background-color: #e98c85;
}

.photo {
    margin: 15px;
    box-shadow: 0 0 35px rgba(0,0,0, .9);
}

.point {
    display: flex;
}

.about-me {
    text-align: center;
    padding: 0 10px;
    margin: 20px 0;
}

.text {
    text-align: center;
    padding: 10px;
    margin: 50px;
}

.link {
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 10px;
}

.links {
    list-style: none;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.links a {
    width: 100%;
    display: inline-block;
    padding: 10px;
}

.my-work {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}